@charset "UTF-8";
/*公共样式*/
body {
  font-size: 12px;
}

.clear {
  clear: both;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content {
  width: 1190px;
  margin: 0 auto;
}

i {
  background: url(./images/tubiao.png) no-repeat;
  overflow: hidden;
}

a,
a:link {
  color: #666666;
  font-family: 微软雅黑, 黑体, 宋体, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  color: #ff6600;
  text-decoration: none;
}

/*头部跟随*/
#wide_user_tool_bar {
  height: 26px;
  color: #999999;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-top-width: 0px;
  z-index: 30001;
}

#wide_user_tool_bar .info {
  height: 26px;
  line-height: 26px;
}

#wide_user_tool_bar .info .fav {
  width: 78px;
  padding: 0px 0px 0px 22px;
  background: url(./images/tubiao.png) no-repeat;
  background-repeat: no-repeat;
  background-position: 2px 5px;
}

#wide_user_tool_bar .info .to-login,
#wide_user_tool_bar .info .to-register {
  margin-left: 5px;
}

#wide_user_tool_bar .info .menu span {
  color: #e5e5e5;
}

#wide_user_tool_bar .info .menu .menu_tab {
  position: relative;
  z-index: 200;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0px 5px 0px 5px;
}

#wide_user_tool_bar .info .menu .menu_tab i {
  width: 7px;
  height: 4px;
  display: inline-block;
  background-position: 0px -27px;
  position: absolute;
  top: 12px;
  right: 5px;
}

#wide_user_tool_bar .info .menu .menu_tab_bzzx {
  width: 63px;
  padding-left: 10px;
}

#wide_user_tool_bar .info .menu .menu_tab_bzzx:hover {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-bottom-width: 0;
  width: 61px;
  height: 25px;
  line-height: 24px;
}

#wide_user_tool_bar .info .menu .menu_tab_bzzx:hover .sub-item {
  display: block;
}

#wide_user_tool_bar .info .menu .sub-item {
  width: 66px;
  position: absolute;
  border: 1px solid #dddddd;
  border-top-width: 0px;
  right: -1px;
  top: 26px;
  padding: 4px 0px 0px 10px;
  z-index: 200;
  background-color: #fff;
  display: none;
  box-shadow: rgba(204, 204, 204, 0.4) 0 0 8px;
}

#wide_user_tool_bar .info .menu .sub-item a {
  color: #333333;
}

#wide_user_tool_bar .info .menu .sub-item a:hover {
  color: #ff6600;
  text-decoration: underline;
}

#wide_user_tool_bar .info .menu .menu_tab_gwc {
  background: url(./images/tubiao.png) no-repeat;
  background-position: 3px -42px;
  padding-left: 23px;
}

#wide_user_tool_bar .info .menu .menu_tab_phone {
  background: url(./images/tubiao.png) no-repeat;
  background-position: 0px -67px;
  border-left: 1px solid #e9e9e9;
  padding-left: 20px;
  margin-right: 5px;
}

#wide_user_tool_bar .info .menu .menu_tab_phone .menu_tab_phone_img {
  background: url(./images/tubiao.png) no-repeat;
  background-position: 0px -146px;
  width: 168px;
  height: 203px;
  margin: -5px 0px 0px -65px;
  position: absolute;
  display: none;
}

#wide_user_tool_bar .info .menu .menu_tab_qq {
  height: 26px;
  padding: 0 5px 0 20px;
  position: relative;
}

#wide_user_tool_bar .info .menu .menu_tab_qq i {
  width: 16px;
  height: 16px;
  background-position: -100px 0px;
  position: absolute;
  top: 2px;
  left: 1px;
}

#wide_user_tool_bar .info .menu .menu_tab_qq a {
  color: #fe6809;
}

.logo {
  position: absolute;
  bottom: 14px;
  left: 8px;
}

/*头部导航*/
.wide_page_top {
  height: 135px;
}

.wide_page_top #searchform {
  width: 330px;
  float: right;
  margin-top: 11px;
}

.wide_page_top .wide_channel {
  height: 35px;
  line-height: 35px;
  background-color: #90c31f;
}

.wide_page_top .wide_channel .wide_channel_category {
  width: 160px;
  height: 35px;
  padding-left: 50px;
  color: #fff;
  font-size: 14px;
  background-color: #6d9d03;
  position: relative;
  z-index: 9999;
  cursor: default;
}

.wide_page_top .wide_channel .wide_channel_category .all_class {
  width: 14px;
  height: 12px;
  background-position: 0 -124px;
  position: absolute;
  top: 12px;
  left: 147px;
}

.wide_page_top .wide_channel .wide_channel_category .category_info {
  width: 210px;
  height: 320px;
  position: absolute;
  top: 35px;
  left: 0px;
  background-color: #fff;
  z-index: 300;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item {
  font-size: 0px;
  background-color: #fff;
  height: 46px;
  line-height: 45px;
  color: #cbcbcb;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item:hover {
  width: 210px;
  height: 45px;
  border: 1px solid #94c51b;
  border-right: 0px solid #fff;
  margin: -1px 0 0 0;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item:hover .child_list {
  display: block;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .item_left {
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 7px 5px 0px 27px;
  background: url(./images/tubiao.png) no-repeat;
  background-position: 0px -414px;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .item_right {
  float: left;
  width: 105px;
  height: 45px;
  line-height: 45px;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .item_right a {
  color: #666666;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .item_blank {
  background-position: 0px -681px;
  width: 6px;
  height: 45px;
  float: left;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list {
  background: #fff;
  border: 1px solid #94c51b;
  display: none;
  width: 760px;
  height: 321px;
  position: absolute;
  left: 210px;
  top: -1px;
  z-index: -1;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_left {
  width: 505px;
  height: 300px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_left .child_list_dt {
  width: 75px;
  text-align: right;
  padding: 5px 0;
  font-size: 12px;
  line-height: 24px;
  color: #666666;
  font-weight: bold;
  float: left;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_left .child_list_dt b {
  font-family: 宋体;
  margin: 0px 5px;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_left .child_list_dd {
  width: 410px;
  float: left;
  line-height: 18px;
  padding: 5px 0;
  margin: 0 0 10px 10px;
  border-bottom: 1px dotted #ccc;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_left .child_list_dd a {
  font-size: 12px;
  line-height: 24px;
  color: #666666;
  padding: 0 4px 0 5px;
  border-left: 1px solid #ccc;
  white-space: nowrap;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_right {
  width: 224px;
  height: 282px;
  position: absolute;
  top: 18px;
  right: 13px;
  border-left: 1px solid #ccc;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_right .child_list_imgup,
.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_right .child_list_imgdown {
  width: 210px;
  height: 130px;
  overflow: hidden;
  position: absolute;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_right .child_list_imgup {
  top: 0px;
  right: 0px;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item .child_list .child_list_right .child_list_imgdown {
  bottom: 0px;
  right: 0px;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item_line {
  height: 0px;
  width: 191px;
  border-bottom: 1px dotted #cbcbcb;
  float: left;
  margin: 0 0 0 10px;
}

.wide_page_top .wide_channel .wide_channel_category .category_info .list_item_btm {
  height: 43px;
  line-height: 43px;
}

.wide_page_top .wide_channel .wide_channel_right {
  height: 34px;
  overflow: hidden;
  padding: 0px;
}

.wide_page_top .wide_channel .wide_channel_right li.item {
  cursor: pointer;
  display: block;
  height: 34px;
  padding: 0 35px 0 35px;
  border: none;
  line-height: 34px;
  background: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  float: left;
  font-size: 14px;
}

.wide_page_top .wide_channel .wide_channel_right li.item a {
  font-size: 14px;
}

.wide_page_top .wide_channel .wide_channel_right li:hover {
  background: #77b001;
}

.wide_page_top .wide_channel .wide_channel_right a {
  color: #fff;
}

.wide_page_top_cont {
  height: 80px;
  padding-top: 20px;
  position: relative;
}

.wide_page_top_cont .ind_top_baozhan {
  position: absolute;
  left: 464px;
  top: 20px;
  width: 336px;
  height: 76px;
  background: url(./images/ind_top_bq2.gif) no-repeat;
}

.wide_page_top_cont .ind_top_baozhan .haitao {
  position: absolute;
  left: 0;
  top: 0;
  width: 76px;
  height: 76px;
}

#top_search {
  width: 330px;
  position: absolute;
  right: 0px;
  height: 68px;
  top: 31px;
}

#top_search .top_middle {
  border: 2px solid #90C221;
  width: 247px;
  height: 30px;
  background: #FFF;
}

#top_search .top_middle input {
  background-color: #fff;
  float: left;
  outline: 0;
  color: #a0a0a0;
  width: 215px;
  height: 30px;
  line-height: 30px;
  border: 0px;
  padding-left: 33px;
}

#top_search .top_middle #txt-search {
  background: #FFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15) inset;
  margin: 0;
  font-size: 14px;
}

#top_search .top_middle .txt_search_i {
  background-position: 5px -350px;
  background-color: #fff;
  width: 30px;
  height: 26px;
  position: absolute;
  top: 4px;
  left: 2px;
}

#top_search .top_right_btn {
  background-color: #90c31f;
  color: #fff;
  width: 78px;
  height: 34px;
  line-height: 34px;
  border: 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  background-image: none;
}

#top_search .search_bottom {
  float: left;
  width: 330px;
  height: 25px;
  line-height: 25px;
  color: #999999;
  overflow: hidden;
}

#top_search .search_bottom a {
  margin: 0 0 0 5px;
  color: #999999;
}

#top_search .search_bottom_a {
  margin: 0px;
  color: #999999;
}

#top_search .search_associate {
  position: absolute;
  width: 248px;
  left: 0;
  top: 34px;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  max-height: 300px;
  overflow-y: auto;
  display: none;
  border: 1px solid #999;
  border-top: none;
  cursor: pointer;
  z-index: 9;
  font-size: 13px;
  font-family: 黑体;
}

.con-mark-bg {
  width: 100%;
  overflow: hidden;
  background: #fff;
  display: block;
  position: relative;
}

.con-mark-main {
  width: 1190px;
  height: 95px;
  margin: 0 auto;
  display: block;
}

.con-mark-main a {
  width: 1190px;
  height: 95px;
  display: block;
}

.wide_banner_bg {
  height: 320px;
}

.wide_banner_bg .wide_banner {
  width: 760px;
  height: 320px;
  position: relative;
  left: 210px;
  overflow: hidden;
}

.wide_banner_bg .wide_banner .slidebox {
  width: 760px;
  height: 320px;
}

.wide_banner_bg .wide_banner .slidebox li img {
  display: block;
  width: 760px;
  height: 320px;
}

.wide_banner_bg .wide_banner .slideshortcutP a {
  color: #000000;
  text-decoration: none;
  position: absolute;
  z-index: 500;
  width: 21px;
  height: 47px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.wide_banner_bg .wide_banner_right {
  width: 218px;
  height: 319px;
  border: 1px solid #e9e9e9;
  border-bottom: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}

#wide_infcp_top {
  height: 319px;
}

.infcp_top {
  width: 218px;
  height: 318px;
  overflow: hidden;
}

.wide_infcp {
  position: relative;
}

.wide_infcp .infcptop {
  width: 10000px;
}

.wide_infcp ul {
  position: absolute;
}

.wide_infcp ul li {
  float: left;
}

.sy_prev,
.sy_next {
  position: absolute;
  width: 21px;
  height: 47px;
  top: 50%;
  margin-top: -23px;
  background: url(./images/play_button1.png) no-repeat 0px 0px;
  cursor: pointer;
  z-index: 10000;
}

.sy_prev:hover,
.sy_next:hover {
  display: block;
}

.sy_next {
  right: 0px;
  background-position: -738px 0px;
}

.wide_classify {
  height: 140px;
  position: relative;
  margin-bottom: 10px;
}

.wide_classify .wide_classify_left {
  width: 197px;
  height: 130px;
  border: 1px solid #e9e9e9;
  background-color: #f3f3f3;
  padding: 8px 0 0 11px;
}

.wide_classify .wide_classify_left p {
  color: #666666;
  height: 26px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.wide_classify .wide_classify_left div {
  width: 57px;
  height: 28px;
  background-color: #e9e9e9;
  margin: 4px 8px 0px 0px;
}

.wide_classify .wide_classify_left a {
  width: 55px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin: 1px;
  background-color: #fff;
  display: inline-block;
}

.wide_classify .wide_classify_cont {
  padding: 9px;
}

.wide_classify .wide_classify_cont .wide_classify_cont_border {
  border: 0px;
}

.wide_classify .wide_classify_cont .wide_classify_cont_border img {
  width: 246px;
  height: 131px;
  float: left;
  margin-right: 2px;
  opacity: 1;
}

.wide_classify .wide_classify_right {
  width: 218px;
  height: 138px;
  border: 1px solid #e9e9e9;
  position: absolute;
  top: 0px;
  right: 0px;
}

.wide_classify .wide_classify_right .wide_classify_right_tis {
  width: 218px;
  height: 28px;
  background-color: #f4f4f4;
  overflow: hidden;
}

.wide_classify .wide_classify_right .wide_classify_right_tis .float-left {
  border-right: 1px solid #e9e9e9;
}

.wide_classify .wide_classify_right .wide_classify_right_tis a {
  display: block;
  width: 108px;
  height: 27px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.wide_classify .wide_classify_right .wide_classify_right_tabchc {
  padding: 10px;
  display: none;
}

.wide_classify .wide_classify_right .wide_classify_right_tabchc a {
  display: block;
  width: 206px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
}

.wide_classify .wide_classify_right .tabchc_l {
  display: block;
}

.selected {
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  border-bottom-color: #fff;
}

/*秒杀板块*/
.hp_top {
  width: 1190px;
  height: 182px;
  border: 1px solid #e8e8e8;
  border-left: none;
  margin: 0 auto 40px;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.hp_top .hp_mbody {
  width: 1190px;
  height: 180px;
  margin: 0 auto;
}

.hp_mbody_t {
  width: 210px;
  height: 182px;
  float: left;
}

.hp_mbody_t .cen_m a {
  width: 210px;
  height: 91px;
  display: block;
  cursor: default;
  background: url(./images/icon3.gif) no-repeat;
}

.hp_mbody_t .cen_m .zw a {
  background-position: 0px 0px;
}

.hp_mbody_t .cen_m .dsfw a {
  background-position: 0px -91px;
}

.hp_mbody_b {
  width: 979px;
  height: 182px;
  float: left;
}

.hp_mbody_b .hp_menu {
  width: 979px;
  height: 182px;
}

.hp_mbody_b .hp_menu .hp_mj {
  float: left;
  width: 195px;
  height: 182px;
  margin: 0px 0px 2px 0px;
}

.hp_mbody_b .hp_menu .hp_mj img {
  margin-left: 30px;
  height: 135px;
  width: 135px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.hp_mbody_b .hp_menu .hp_mj p {
  width: 100%;
  position: relative;
  line-height: 20px;
  color: #666;
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
}

.hp_mbody_b .hp_menu .hp_mj p span {
  font-size: 14px;
  color: #ff6600;
}

/*1F楼层部分*/
.wide_f_main {
  width: 1190px;
  margin: 0 auto 40px;
  position: relative;
  /*2F*/
}

.wide_f_main .wide_f_tit {
  height: 27px;
  line-height: 27px;
  overflow: hidden;
}

.wide_f_main .wide_f_tit .wide_delicacy,
.wide_f_main .wide_f_tit .wide_hot {
  width: 490px;
  color: #666666;
  overflow: hidden;
}

.wide_f_main .wide_f_tit .wide_delicacy {
  color: #666666;
  overflow: hidden;
}

.wide_f_main .wide_f_tit .wide_delicacy span {
  color: #cccccc;
}

.wide_f_main .wide_f_tit .wide_delicacy a {
  color: #666666;
  padding: 0px 4px 0px 4px;
}

.wide_f_main .wide_f_tit .wide_more {
  position: absolute;
  right: 0px;
  top: 0px;
}

.wide_f_main .wide_f_tit .wide_more a {
  width: 40px;
  height: 27px;
  line-height: 27px;
  position: relative;
  color: #666666;
  display: block;
}

.wide_f_main .wide_f_tit .wide_more i {
  width: 13px;
  height: 13px;
  background-position: 0px -727px;
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0px;
}

.wide_f_main .wide_title {
  width: 210px;
  font-size: 19px;
  line-height: 22px;
}

.wide_f_main .wide_title span {
  margin-right: 12px;
}

.wide_f_main .wide_f_tit4 {
  border-bottom: 3px solid #aa72d2;
}

.wide_f_main .wide_f_tit4 .wide_title {
  color: #aa72d2;
  font-weight: normal;
}

.wide_f_main .wide_f_tit4 .wide_title span {
  margin-right: 12px;
}

.wide_f_main .wide_4f_up {
  height: 243px;
  width: 1190px;
  margin: 0 auto;
  margin-bottom: 5px;
  position: relative;
}

.wide_f_main .wide_4f_up .wide_4f_ban {
  width: 710px;
  height: 243px;
  overflow: hidden;
  margin-right: 6px;
}

.wide_f_main .wide_4f_up .wide_5f_img {
  width: 480px;
  height: 243px;
  overflow: hidden;
  position: absolute;
  right: 0px;
}

.wide_f_main .wide_4f_up .wide_5f_img img {
  width: 474px;
  height: 243px;
  position: absolute;
  right: 0px;
}

.wide_f_main .wide_4f_cont {
  width: 1190px;
  background-color: #e9e9e9;
}

.wide_f_main .wide_4f_cont li {
  width: 288px;
  height: 241px;
  margin: 1px 0px 0px 1px;
  padding: 4px;
  background-color: #fff;
  float: left;
  position: relative;
}

.wide_f_main .wide_4f_cont .wide_4f_li_img {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.wide_f_main .wide_4f_cont .wide_4f_li_img:hover {
  margin-left: -4px;
}

.wide_f_main .wide_4f_cont .wide_4f_li_sales,
.wide_f_main .wide_4f_cont .wide_4f_li_name,
.wide_f_main .wide_4f_cont .wide_4f_li_price {
  position: absolute;
  left: 4px;
  text-align: center;
  width: 288px;
}

.wide_f_main .wide_4f_cont .wide_4f_li_sales {
  top: 225px;
  color: #ff6600;
}

.wide_f_main .wide_4f_cont .wide_4f_li_name {
  color: #666666;
  top: 210px;
}

.wide_f_main .wide_4f_cont .wide_4f_li_price {
  color: #ff6600;
  font-size: 16px;
  top: 190px;
}

.wide_f_main .wide_f_tit1 {
  border-bottom: 3px solid #72b7fc;
}

.wide_f_main .wide_f_tit1 .wide_title {
  color: #72b7fc;
}

.wide_f_main .wide_f_left {
  float: left;
  width: 210px;
  height: 720px;
  overflow: hidden;
  position: relative;
}

.wide_f_main .wide_f_left .wide_f_ban {
  width: 210px;
  height: 360px;
}

.wide_f_main .wide_f_left .wide_f_hot {
  width: 208px;
  height: 358px;
  background-color: #f7f7f7;
  border: 1px solid #e9e9e9;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_tit {
  height: 50px;
  line-height: 50px;
  color: #333333;
  font-size: 16px;
  text-align: center;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul {
  width: 190px;
  height: 308px;
  padding: 0px 0px 0px 9px;
  overflow: hidden;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li {
  width: 190px;
  height: 88px;
  margin-bottom: 14px;
  position: relative;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li label {
  cursor: pointer;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_img {
  width: 68px;
  height: 68px;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 18px;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_img img {
  width: 68px;
  height: 68px;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_name {
  height: 32px;
  overflow: hidden;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_name,
.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_price {
  width: 108px;
  padding: 0px 3px 0px 9px;
  font-size: 12px;
  line-height: 16px;
  color: #666;
  position: absolute;
  right: 0px;
  top: 18px;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_price {
  color: #ff6600;
  top: 50px;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_price span {
  margin-left: 20px;
  color: #999999;
  text-decoration: line-through;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_corner1,
.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_corner2,
.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_corner3 {
  background: url(./images/f_hot_bg.png) no-repeat;
  width: 190px;
  height: 33px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_corner1 {
  background-position: 0px 0px;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_corner2 {
  background-position: 0px -33px;
}

.wide_f_main .wide_f_left .wide_f_hot .wide_f_hot_ul li .wide_f_hot_corner3 {
  background-position: 0px -66px;
}

.wide_f_main .wide_f_right {
  width: 979px;
  height: 719px;
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  border-width: 0px 0px 1px 0px;
  overflow: hidden;
  position: absolute;
  right: 0px;
}

.wide_f_main .wide_f_right .wide_f_item {
  width: 223px;
  height: 228px;
  margin: 1px 1px 0px 0px;
  padding: 10px 10px 0px 10px;
  background-color: #fff;
  float: left;
  overflow: hidden;
  position: relative;
}

.wide_f_main .wide_f_right .wide_f_item .wide_f_item_img {
  display: inline;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.wide_f_main .wide_f_right .wide_f_item .wide_f_item_img:hover {
  margin-left: -5px;
}

.wide_f_main .wide_f_right .wide_f_item .wide_f_item_price {
  display: block;
  color: #ff6600;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 170px;
  left: 10px;
}

.wide_f_main .wide_f_right .wide_f_item .wide_f_item_name,
.wide_f_main .wide_f_right .wide_f_item .wide_f_item_sales {
  color: #666666;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  top: 194px;
  left: 10px;
}

.wide_f_main .wide_f_right .wide_f_item .wide_f_item_sales {
  color: #FF6600;
  top: 210px;
}

.infcp_f_left {
  width: 210px;
  height: 360px;
  overflow: hidden;
}

.infcp_4f_ban {
  width: 710px;
  height: 243px;
  overflow: hidden;
}

.wide_infcp {
  position: relative;
}

.wide_infcp .infcptop {
  width: 10000px;
}

.wide_infcp ul {
  position: absolute;
}

/*2F楼层开始*/
.wide_f_hot_level {
  width: 108px;
  height: 15px;
  padding: 0px 3px 0px 9px;
  position: absolute;
  right: 0px;
  top: 70px;
}

.wide_f_hot_level i {
  width: 84px;
  height: 15px;
  overflow: hidden;
  float: left;
  display: inline-block;
}

.wide_f_hot_level i.level_10 {
  background-position: -367px -55px;
}

/*楼层广告*/
.hj_top {
  position: relative;
  width: 1190px;
  height: 360px;
  margin: 0 auto 40px;
  margin-top: -30px;
  background: #fff;
}

.hj_top ul {
  width: 1200px;
  height: 340px;
  margin: 0 auto;
  display: block;
  padding: 0px;
}

.hj_top ul li {
  width: 290px;
  height: 160px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  list-style: none;
}

.hj_top ul li img {
  width: 290px;
  height: 160px;
  float: left;
  list-style: none;
  border: none;
  outline: none;
  vertical-align: middle;
}

/*门店楼层*/
.index_shop {
  width: 1190px;
  height: 364px;
  margin: 0 auto 30px;
  position: relative;
}

.index_shop ol.tab {
  width: 1190px;
  height: 28px;
  color: #FFF;
  border-bottom: 3px solid #94c51b;
  float: left;
  background-color: #e9e9e9;
}

.index_shop ol.tab li {
  width: 100px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  margin: 1px 0px 0px 1px;
  background: #ffffff;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  float: left;
  cursor: default;
}

.index_shop ol.tab .on {
  background: #94c51b;
  color: #fff;
  height: 28px;
  margin: 0px;
}

.index_shop ol.tab .shop_li_div {
  width: 785px;
  height: 27px;
  background-color: #fff;
  position: absolute;
  top: 1px;
  right: 1px;
}

.index_shop .left {
  width: 169px;
  height: 273px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.index_shop .left li {
  height: 137px;
  cursor: default;
  background: url(../css/images/left_bg_all.png);
}

.index_shop .left li.info {
  background-position: 0px top;
}

.index_shop .left li.map {
  background-position: 0px -136px;
}

.index_shop .right {
  width: 1020px;
  height: 272px;
  position: absolute;
  right: 0px;
  top: 91px;
  border: 1px solid #e9e9e9;
  border-width: 1px 1px 1px 0px;
}

.index_shop .right .changeBox_a1,
.index_shop .right .storeMap {
  width: 723px;
  height: 272px;
  overflow: hidden;
}

.index_shop .right .changeBox_a1 .changeBox_overflow,
.index_shop .right .storeMap .changeBox_overflow {
  width: 703px;
  height: 250px;
  margin: 10px 0px 0px 10px;
  overflow: hidden;
  position: relative;
}

.index_shop .right .changeBox_a1 ul {
  height: 250px;
  position: absolute;
  overflow: hidden;
}

.index_shop .right .changeBox_a1 img {
  float: left;
  width: 703px;
  height: 251px;
}

.index_shop .right .infoBox {
  width: 297px;
  height: 272px;
  border-left: 1px solid #e9e9e9;
  position: absolute;
  right: 0px;
  top: 0px;
}

.index_shop .right .infoBox .infoUl {
  width: 240px;
  margin: 25px 20px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.index_shop .right .infoBox .serviceUl {
  width: 240px;
  margin: 0 20px 25px 20px;
  padding-top: 10px;
  border-top: 1px solid #fff;
}

.index_shop .right .infoBox li {
  display: block;
  padding: 0 0 0 30px;
  margin: 5px 0;
  line-height: 18px;
  color: #666666;
  background: url(./images/serviceIcon.png) no-repeat;
}

.index_shop .right .infoBox li.serviceTime {
  background-position: -2px -229px;
}

.index_shop .right .infoBox li.storeAdd {
  background-position: -2px -257px;
}

.index_shop .right .infoBox li.storeTel {
  background-position: -2px -313px;
}

.index_shop .right .infoBox li.trafficGuide {
  background-position: -2px -369px;
}

.index_shop .right .infoBox li.flagshipStore {
  background-position: -28px -5px;
}

.index_shop .right .infoBox li.o2oStore {
  background-position: -28px -33px;
}

.index_shop .right .infoBox li.optometry {
  background-position: -28px -61px;
}

.index_shop .right .infoBox li.correct {
  background-position: -28px -89px;
}

.index_shop .right .infoBox li.customization {
  background-position: -28px -117px;
}

.index_shop .right .infoBox li.onlineArea {
  background-position: -28px -145px;
}

.index_shop .right .infoBox li.StoreEvent {
  background-position: -28px -173px;
}

.index_shop .right .infoBox li.metroStation {
  background-position: -28px -201px;
}

.index_shop ul.tit {
  height: 60px;
  background: #FFF;
}

.index_shop ul.tit li {
  width: 1188px;
  height: 60px;
  float: left;
  display: none;
  border-style: solid;
  border-color: #e9e9e9;
  border-width: 0px 1px;
}

.index_shop ul.tit li .shopinfo {
  width: 680px;
  float: left;
  color: #666666;
  line-height: 20px;
  text-indent: 2em;
  margin: 10px 0 0 14px;
}

.shopService {
  width: 278px;
  height: 30px;
  border-left: 1px solid #f1f1f1;
  float: right;
  margin: 15px 0px;
  padding-left: 16px;
  position: relative;
}

.shopService a {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin: 3px 5px 3px 0px;
  cursor: default;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  background: #94c51b url(./images/serviceIcon.png) no-repeat;
}

.shopService a.flagshipStore {
  background-position: -2px -2px;
}

.shopService a.o2oStore {
  background-position: -2px -30px;
}

.shopService a.optometry {
  background-position: -2px -58px;
}

.shopService a.correct {
  background-position: -2px -86px;
}

.shopService a.customization {
  background-position: -2px -114px;
}

.shopService a.onlineArea {
  background-position: -2px -142px;
}

.shopService a.StoreEvent {
  background-position: -2px -170px;
}

.shopService a.metroStation {
  background-position: -2px -198px;
}

/*文章开始*/
.in-last-f {
  width: 1190px;
  height: 238px;
  margin: 0px auto;
  position: relative;
}

.inlaf-left,
.inlaf-middle,
.inlaf-right {
  border: 1px solid #ddd;
  border-top: 3px solid #94c51b;
  border-style: solid;
  position: absolute;
  height: 230px;
}

.inlaf-left {
  width: 210px;
  left: 0px;
}

.inlaf-middle {
  width: 326px;
  left: 220px;
  overflow: hidden;
}

.inlaf-right {
  width: 298px;
  right: 0px;
}

.inlaf-right .tit-r li {
  font-weight: bold;
}

.inlaf-tis {
  height: 35px;
  color: #666;
}

.inlaf-tis li,
.inlaf-tis .active {
  display: block;
  width: 105px;
  height: 28px;
  line-height: 28px;
  float: left;
  text-align: center;
  cursor: pointer;
  background-color: #94c51b;
}

.inlaf-tis #le1 a,
.inlaf-tis #le2 a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.inlaf-tis .active {
  background: #fff;
  border: 0px;
}

.inlaf-tis #le1.active a,
.inlaf-tis #le2.active a {
  color: #666666;
}

.inlaf-l-nm {
  width: 210px;
  height: 192px;
  margin-top: 5px;
  color: #999;
  overflow: hidden;
}

.inlaf-l-nm li {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding-left: 20px;
  background: url(./images/bg_home_02g.jpg) no-repeat 6px 4px;
}

.inlaf-l-nm li a {
  color: #666;
}

.inlaf-l-nm li a:hover {
  color: #f60;
}

.inlaf-l-n {
  display: none;
}

.active2 {
  display: block;
}

.inlaf-tit {
  margin-bottom: 0px;
  height: 28px;
  line-height: 28px;
  border: 0px;
  border-bottom: 1px solid #ddd;
}

.inlaf-tit li {
  padding: 0px 15px;
  float: left;
  font-weight: bold;
}

.inlaf-tit a {
  color: #666;
  font-weight: 100;
  font-size: 14px;
}

.inlaf-tit a:hover {
  color: #ff6600;
}

.inlaf-tit,
.inlaf-tit li,
.inlaf-right .tit-r li {
  color: #666;
  font-weight: bold;
  font-size: 14px;
}

.inlaf-m-main li {
  display: block;
  width: 310px;
  height: 100px;
  float: left;
  position: relative;
  margin-left: 8px;
  border: 0px;
  border-bottom: 1px;
  border-style: dashed;
  border-color: #ddd;
}

.inlaf-m-main div {
  position: absolute;
}

.inlaf-m-main .z-01 {
  left: 0px;
  top: 15px;
}

.inlaf-m-main .z-01 a {
  border: 1px solid #D4D4D4;
  display: block;
}

.inlaf-m-main .z-01 img {
  width: 68px;
  height: 68px;
  overflow: hidden;
}

.inlaf-m-main .z-02 {
  width: 235px;
  height: 14px;
  left: 80px;
  top: 12px;
  overflow: hidden;
}

.inlaf-m-main .z-02 a {
  color: #6d9d03;
  overflow: hidden;
}

.inlaf-m-main .z-02 a:hover {
  color: #FF6600;
}

.inlaf-m-main .z-03 {
  left: 80px;
  top: 31px;
}

.inlaf-m-main .z-03 i {
  width: 84px;
  height: 15px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}

.inlaf-m-main .z-03 .star1 {
  background-position: -367px -119px;
}

.inlaf-m-main .z-03 .star2 {
  background-position: -367px -103px;
}

.inlaf-m-main .z-03 .star3 {
  background-position: -367px -87px;
}

.inlaf-m-main .z-03 .star4 {
  background-position: -367px -71px;
}

.inlaf-m-main .z-03 .star5 {
  background-position: -367px -55px;
}

.inlaf-m-main .z-04 {
  left: 230px;
  top: 31px;
  color: #666;
}

.inlaf-m-main .z-04 span {
  color: #ff6600;
}

.inlaf-m-main .z-05 {
  left: 80px;
  top: 50px;
}

.inlaf-m-main .z-05 span {
  margin-right: 6px;
  color: #666666;
}

.inlaf-m-main .z-05 samp {
  color: #000;
}

.inlaf-m-main .z-05 samp:hover {
  color: #FF6600;
}

#remarkHead1,
#remarkHead2 {
  display: none;
}

#TabCon1,
#TabCon2 {
  width: 298px;
  height: 151px;
}

#TabCon2 {
  display: none;
}

.xixi1,
.xixi2 {
  width: 298px;
  height: 50px;
  float: left;
  background: url(./images/gzbtg.jpg);
}

.xixi2 {
  background-position: 0px -50px;
}

.tab1,
.tab2 {
  width: 148px;
  height: 50px;
  display: block;
  float: left;
  cursor: pointer;
}
